## load sample dataset

In [2]:
from pycaret.datasets import get_data
data = get_data('diabetes')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

 ## Functional APIï¼ˆå‡½å¼å¼å¯«æ³•ï¼‰

In [3]:
from pycaret.classification import *
s = setup(data, target = 'Class variable', session_id = 123)

## ğŸ“Š PyCaret `setup()` å›å‚³çš„è¨­å®šæ‘˜è¦è§£é‡‹

é€™æ˜¯ PyCaret åœ¨åŸ·è¡Œ `setup()` ä¹‹å¾Œé¡¯ç¤ºçš„è¨­å®šè¡¨ï¼Œå¹«åŠ©æˆ‘å€‘å¿«é€Ÿäº†è§£è³‡æ–™å‰è™•ç†å’Œå»ºæ¨¡æµç¨‹è¨­å®šå¦‚ä¸‹ï¼š

| ç·¨è™Ÿ | èªªæ˜ (Description) | å€¼ (Value) | è©³ç´°è§£é‡‹ |
|------|----------------------|-------------|-----------|
| 0 | Session id | 123 | éš¨æ©Ÿç¨®å­ï¼Œç”¨ä¾†ç¢ºä¿çµæœã€Œå¯é‡ç¾ã€ã€‚æ¯æ¬¡ä½¿ç”¨åŒæ¨£çš„æ•¸å­—ï¼Œäº¤å‰é©—è­‰åˆ†æ³•éƒ½ä¸€æ¨£ã€‚ |
| 1 | Target | Class variable | ä½ æŒ‡å®šçš„ç›®æ¨™è®Šæ•¸åç¨±ï¼ˆè¦é æ¸¬çš„æ¬„ä½ï¼‰ã€‚ |
| 2 | Target type | Binary | é¡å‹ç‚ºäºŒå…ƒåˆ†é¡ï¼ˆBinary Classificationï¼‰ï¼Œä¾‹å¦‚ 0/1ã€æ˜¯/å¦ã€‚ |
| 3 | Original data shape | (768, 9) | åŸå§‹è³‡æ–™å…±æœ‰ 768 ç­†è³‡æ–™ï¼Œ9 å€‹æ¬„ä½ï¼ˆåŒ…å«ç›®æ¨™è®Šæ•¸ï¼‰ã€‚ |
| 4 | Transformed data shape | (768, 9) | å‰è™•ç†å¾Œçš„è³‡æ–™ç¶­åº¦ã€‚é€™è£¡å¤§å°æ²’è®Šï¼Œè¡¨ç¤ºè³‡æ–™å·²ç¶“å¾ˆä¹¾æ·¨ã€‚ |
| 5 | Transformed train set shape | (537, 9) | è¨“ç·´è³‡æ–™ç­†æ•¸ï¼ˆ70%ï¼‰ï¼š537 ç­†è³‡æ–™ã€‚ |
| 6 | Transformed test set shape | (231, 9) | æ¸¬è©¦è³‡æ–™ç­†æ•¸ï¼ˆ30%ï¼‰ï¼š231 ç­†è³‡æ–™ã€‚ |
| 7 | Numeric features | 8 | æ•¸å€¼å‹æ¬„ä½æœ‰ 8 å€‹ï¼ˆå‰©ä¸‹ 1 å€‹æ˜¯ç›®æ¨™è®Šæ•¸ï¼‰ã€‚ |
| 8 | Preprocess | True | PyCaret æœ‰å•Ÿç”¨å‰è™•ç†ï¼ˆè£œç¼ºå€¼ã€æ¨™æº–åŒ–ã€ç·¨ç¢¼ç­‰ï¼‰ã€‚ |
| 9 | Imputation type | simple | ç¼ºå¤±å€¼è£œå€¼ç­–ç•¥ï¼šä½¿ç”¨ç°¡å–®è£œæ³•ï¼ˆSimple Imputationï¼‰ã€‚ |
| 10 | Numeric imputation | mean | æ•¸å€¼å‹æ¬„ä½ç¼ºå¤±å€¼è£œå¹³å‡å€¼ã€‚ |
| 11 | Categorical imputation | mode | é¡åˆ¥æ¬„ä½ç¼ºå¤±å€¼è£œçœ¾æ•¸ï¼ˆæœ€å¸¸å‡ºç¾çš„é¡åˆ¥ï¼‰ã€‚ |
| 12 | Fold Generator | StratifiedKFold | ä½¿ç”¨ Stratified K-Foldï¼ˆåˆ†å±¤äº¤å‰é©—è­‰ï¼‰ã€‚å¯ä¿æŒé¡åˆ¥æ¯”ä¾‹ä¸€è‡´ã€‚ |
| 13 | Fold Number | 10 | ä½¿ç”¨ 10-fold Cross Validationã€‚ |
| 14 | CPU Jobs | -1 | ä½¿ç”¨æ‰€æœ‰ CPU æ ¸å¿ƒåŠ é€Ÿè¨“ç·´ã€‚ |
| 15 | Use GPU | False | æ²’ä½¿ç”¨ GPUã€‚å¦‚æœæ¨¡å‹æ”¯æ´ GPUï¼Œå¯ä»¥æ‰‹å‹•é–‹å•Ÿã€‚ |
| 16 | Log Experiment | False | æ²’æœ‰ä½¿ç”¨å¯¦é©—è¨˜éŒ„åŠŸèƒ½ï¼ˆå¦‚ MLflowï¼‰ã€‚ |
| 17 | Experiment Name | clf-default-name | é è¨­çš„å¯¦é©—åç¨±ï¼ˆå¯è‡ªè¨‚ï¼‰ã€‚ |
| 18 | USI | 238b | å”¯ä¸€è­˜åˆ¥ç¢¼ï¼ˆUnique Session Identifierï¼‰ï¼Œç”¨æ–¼è¿½è¹¤å¯¦é©—ã€‚ |

---

ğŸ“Œ **å°æé†’**ï¼šé€™å€‹è¡¨åªæœƒåœ¨ `setup()` æˆåŠŸåŸ·è¡Œæ™‚å‡ºç¾ï¼Œå¹«åŠ©æˆ‘å€‘ç¢ºèªè³‡æ–™é è™•ç†èˆ‡å»ºæ¨¡ç’°å¢ƒå·²æˆåŠŸå»ºç«‹ã€‚

## Compare Models

In [4]:
# functional API
best = compare_models()
print(best)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=123, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Analyze Model

In [5]:
# functional API
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

## ğŸ“Š PyCaret æ¨¡å‹åˆ†æå ±å‘Šï¼šLogistic Regressionï¼ˆé‡é»åœ–è¡¨ï¼‰

### ğŸ”„ Pipeline Plot
é€™å¼µåœ–å‘ˆç¾äº† PyCaret è‡ªå‹•å»ºç«‹çš„å®Œæ•´è³‡æ–™è™•ç†æµç¨‹ï¼ˆPipelineï¼‰ï¼š

Raw Data â†’ SimpleImputerï¼ˆæ•¸å€¼ï¼‰ â†’ SimpleImputerï¼ˆé¡åˆ¥ï¼‰ â†’ CleanColumnNames â†’ LogisticRegression


- **SimpleImputer**ï¼šè£œé½Šéºå¤±å€¼ï¼Œæ•¸å€¼è£œå¹³å‡ã€é¡åˆ¥è£œçœ¾æ•¸
- **CleanColumnNames**ï¼šæ¬„ä½åç¨±æ¨™æº–åŒ–ï¼ˆç§»é™¤ç©ºæ ¼ã€ç‰¹æ®Šå­—å…ƒç­‰ï¼‰
- **LogisticRegression**ï¼šä½¿ç”¨é‚è¼¯æ–¯è¿´æ­¸ä½œç‚ºåˆ†é¡æ¨¡å‹

---

### âš™ï¸ Hyperparametersï¼ˆæ¨¡å‹åƒæ•¸ï¼‰
ä½¿ç”¨çš„ Logistic Regression é è¨­è¶…åƒæ•¸å¦‚ä¸‹ï¼š

| åƒæ•¸ | èªªæ˜ |
|------|------|
| C = 1.0 | æ­£å‰‡åŒ–å¼·åº¦ï¼ˆè¶Šå°ä»£è¡¨è¶Šå¼·æ­£å‰‡åŒ–ï¼‰ |
| penalty = l2 | ä½¿ç”¨ L2 æ­£å‰‡åŒ– |
| solver = lbfgs | ä½¿ç”¨ç‰›é “æ³•å„ªåŒ–å™¨ |
| max_iter = 1000 | æœ€å¤šè¿­ä»£æ¬¡æ•¸ |
| fit_intercept = True | æ˜¯å¦ä¼°è¨ˆæˆªè·é … |
| random_state = 123 | è¨­å®šéš¨æ©Ÿç¨®å­ä»¥åˆ©é‡ç¾ |

---

### ğŸ“ˆ AUCï¼ˆROC Curveï¼‰åˆ†æ

æœ¬åœ–å‘ˆç¾ Logistic Regression æ¨¡å‹åœ¨ä¸åŒåˆ¤åˆ¥é–¾å€¼ï¼ˆthresholdï¼‰ä¸‹çš„åˆ†é¡èƒ½åŠ›ã€‚

å…±åŒ…å«å››æ¢ ROC æ›²ç·šï¼Œå„è‡ªæ„ç¾©å¦‚ä¸‹ï¼š

- **ROC of class 0ï¼ˆAUC = 0.86ï¼‰**  
  è¡¨ç¤ºä»¥ class 0 ç‚º positive é¡åˆ¥æ™‚ï¼Œæ¨¡å‹å°‡ class 0 åˆ¤åˆ¥æ­£ç¢ºçš„èƒ½åŠ›ï¼ˆå³ï¼šçœŸé™½æ€§ç‡ vs å‡é™½æ€§ç‡ï¼‰ã€‚

- **ROC of class 1ï¼ˆAUC = 0.86ï¼‰**  
  è¡¨ç¤ºä»¥ class 1 ç‚º positive é¡åˆ¥æ™‚ï¼Œæ¨¡å‹å°‡ class 1 åˆ¤åˆ¥æ­£ç¢ºçš„èƒ½åŠ›ã€‚

- **micro-average ROCï¼ˆAUC = 0.86ï¼‰**  
  æ˜¯åŸºæ–¼æ‰€æœ‰æ¨£æœ¬çš„ TPã€FPã€FNã€TN åŠ ç¸½å¾Œè¨ˆç®—å‡ºä¾†çš„å¹³å‡ AUCã€‚è‹¥æ¨£æœ¬æ•¸ä¸å¹³è¡¡æ™‚ï¼Œæœƒåå‘æ¨£æœ¬æ•¸è¼ƒå¤šçš„é¡åˆ¥ã€‚

- **macro-average ROCï¼ˆAUC = 0.86ï¼‰**  
  æ˜¯å°æ¯ä¸€å€‹é¡åˆ¥å„è‡ªè¨ˆç®— AUCï¼Œå†é€²è¡Œå¹³å‡ï¼Œ**ä¸è€ƒæ…®æ¨£æœ¬æ•¸æ¯”ä¾‹**ï¼Œå¼·èª¿å„é¡åˆ¥å…¬å¹³çš„è¡¨ç¾ã€‚

ğŸ“Œ **çµè«–**ï¼š  
å››æ¢ AUC å€¼çš†ç‚º 0.86ï¼Œä»£è¡¨æ¨¡å‹å°å…©é¡åˆ¥ï¼ˆclass 0 å’Œ class 1ï¼‰çš†æœ‰è‰¯å¥½çš„å€è¾¨èƒ½åŠ›ï¼Œä¸”æ•´é«”è¡¨ç¾ç©©å®šã€ç„¡åé —ã€‚

---

### ğŸ“Š Confusion Matrixï¼ˆæ··æ·†çŸ©é™£ï¼‰

|               | é æ¸¬ 0 | é æ¸¬ 1 |
|---------------|--------|--------|
| **å¯¦éš› 0**     | 132    | 18     |
| **å¯¦éš› 1**     | 38     | 43     |

- **True Negatives (TN) = 132**  
  å¯¦éš›ç‚º 0ï¼Œæ¨¡å‹ä¹Ÿæ­£ç¢ºé æ¸¬ç‚º 0 â†’ âœ… æ²’ç™¼ç”Ÿäº‹ä»¶ï¼ŒæˆåŠŸè¾¨è­˜

- **False Positives (FP) = 18**  
  å¯¦éš›ç‚º 0ï¼Œä½†æ¨¡å‹é æ¸¬ç‚º 1 â†’ âŒ éŒ¯åˆ¤ç‚ºç™¼ç”Ÿäº‹ä»¶ï¼ˆå‡è­¦å ±ï¼‰

- **False Negatives (FN) = 38**  
  å¯¦éš›ç‚º 1ï¼Œä½†æ¨¡å‹é æ¸¬ç‚º 0 â†’ âŒ è©²é æ¸¬æœƒç™¼ç”Ÿä½†æ¼åˆ¤ï¼ˆéŒ¯å¤±ï¼‰

- **True Positives (TP) = 43**  
  å¯¦éš›ç‚º 1ï¼Œæ¨¡å‹ä¹Ÿé æ¸¬ç‚º 1 â†’ âœ… æœ‰äº‹ä»¶ç™¼ç”Ÿï¼ŒæˆåŠŸæŠ“åˆ°

#### ğŸ“Œ ç¸½çµèˆ‡æ¨¡å‹æ„æ¶µï¼š

- æ¨¡å‹å° **class 0**ï¼ˆæ²’äº‹ï¼‰é æ¸¬èƒ½åŠ›å¼·ï¼Œå› ç‚º TN = 132ï¼ŒFP åªæœ‰ 18
- æ¨¡å‹å° **class 1** çš„è¡¨ç¾ç¨å¼±ï¼Œå› ç‚ºæ¼åˆ¤äº† 38 ç­†ï¼ˆFNï¼‰ï¼ŒæˆåŠŸæŠ“åˆ°çš„ TP åªæœ‰ 43 ç­†

ä½ ä¹Ÿå¯ä»¥æ­é…é€™äº›è¨ˆç®—ï¼š

- **Accuracy** = (TP + TN) / æ‰€æœ‰è³‡æ–™ = (132 + 43) / 231 â‰ˆ 0.758
- **Precision (class 1)** = TP / (TP + FP) = 43 / (43 + 18) â‰ˆ 0.705
- **Recall (class 1)** = TP / (TP + FN) = 43 / (43 + 38) â‰ˆ 0.531
- **F1 Score** = èª¿å’Œå¹³å‡ â‰ˆ 0.606
é€™äº›æ•¸å­—ä¹Ÿæœƒå‡ºç¾åœ¨ Class Report ä¸­ã€‚

---

### ğŸ§­ Threshold Plotï¼ˆåˆ†é¡é–€æª»åˆ†æåœ–ï¼‰

æ­¤åœ–ç”¨ä¾†è§€å¯Ÿ **ä¸åŒé–¾å€¼ï¼ˆthresholdï¼‰å° precisionã€recallã€F1 score çš„å½±éŸ¿**ã€‚
é€éæ­¤åœ–ï¼Œæˆ‘å€‘èƒ½æ‰¾å‡º**æœ€ä½³çš„åˆ†é¡é–€æª»**ã€‚

---

#### ğŸ” ä¸‰æ¢ä¸»è¦æ›²ç·šèªªæ˜ï¼š

| æ›²ç·šä»£è¡¨ | æŒ‡æ¨™èªªæ˜ |
|----------|-----------|
| è—ç·š     | **Precisionï¼ˆç²¾ç¢ºç‡ï¼‰**ï¼šé æ¸¬ç‚º 1 ä¸­ï¼Œæœ‰å¤šå°‘æ˜¯çœŸçš„ |
| ç¶ ç·š     | **Recallï¼ˆå¬å›ç‡ï¼‰**ï¼šå¯¦éš›ç‚º 1 ä¸­ï¼Œæœ‰å¤šå°‘è¢«æ‰¾å‡ºä¾† |
| ç´…ç·š     | **F1 Score**ï¼šç²¾ç¢ºç‡èˆ‡å¬å›ç‡çš„èª¿å’Œå¹³å‡ï¼ˆç¶œåˆæŒ‡æ¨™ï¼‰ |

- **æœ€ä½³ threshold â‰ˆ 0.48**ï¼ˆF1 åˆ†æ•¸æœ€é«˜é»ï¼‰

å¯ä»¥æ ¹æ“šé€™å€‹åœ–é¸æ“‡æœ€ä½³ thresholdï¼Œå†é€²è¡Œé æ¸¬ï¼š

```python
predict_model(model, probability_threshold=0.48)
```

---

### ğŸ§ª Class Reportï¼ˆåˆ†é¡å ±å‘Šï¼‰

| é¡åˆ¥ | Precision | Recall | F1-score | Support |
|------|-----------|--------|----------|---------|
| 1    | 0.705     | 0.531  | 0.606    | 81      |
| 0    | 0.776     | 0.880  | 0.825    | 150     |

- é¡åˆ¥ 0 è¼ƒæ˜“æ­£ç¢ºåˆ†é¡ï¼Œé¡åˆ¥ 1 è¡¨ç¾ç•¥å¼±
- é¡¯ç¤ºæ¨¡å‹åœ¨è™•ç†æ­£è² æ¨£æœ¬ä¸Šçš„ä¸å¹³è¡¡ç‹€æ³

---

## Predictions

In [6]:
# functional API
predict_model(best) # test_data

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable,prediction_label,prediction_score
552,6,114,88,0,0,27.799999,0.247,66,0,0,0.8037
438,1,97,70,15,0,18.200001,0.147,21,0,0,0.9648
149,2,90,70,17,0,27.299999,0.085,22,0,0,0.9394
373,2,105,58,40,94,34.900002,0.225,25,0,0,0.7999
36,11,138,76,0,0,33.200001,0.420,35,0,1,0.6393
...,...,...,...,...,...,...,...,...,...,...,...
85,2,110,74,29,125,32.400002,0.698,27,0,0,0.8002
7,10,115,0,0,0,35.299999,0.134,29,0,1,0.6230
298,14,100,78,25,184,36.599998,0.412,46,1,0,0.5984
341,1,95,74,21,73,25.900000,0.673,36,0,0,0.9244
472,0,119,66,27,0,38.799999,0.259,22,0,0,0.6798

In [7]:
# functional API
print(data.shape)  # Print the shape (rows, columns) of the dataset
predictions = predict_model(best, data=data)  # Use the best trained model to make predictions on the full data
predictions.head()

(768, 9)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable,prediction_label,prediction_score
0,6,148,72,35,0,33.599998,0.627,50,1,1,0.6940
1,1,85,66,29,0,26.600000,0.351,31,0,0,0.9419
2,8,183,64,0,0,23.299999,0.672,32,1,1,0.7976
3,1,89,66,23,94,28.100000,0.167,21,0,0,0.9454
4,0,137,40,35,168,43.099998,2.288,33,1,1,0.8394

In [8]:
# functional API
predictions = predict_model(best, data=data, raw_score=True) # return raw class probabilities
predictions.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable,prediction_label,prediction_score_0,prediction_score_1
0,6,148,72,35,0,33.599998,0.627,50,1,1,0.3060,0.6940
1,1,85,66,29,0,26.600000,0.351,31,0,0,0.9419,0.0581
2,8,183,64,0,0,23.299999,0.672,32,1,1,0.2024,0.7976
3,1,89,66,23,94,28.100000,0.167,21,0,0,0.9454,0.0546
4,0,137,40,35,168,43.099998,2.288,33,1,1,0.1606,0.8394

## Save the model

In [9]:
# functional API
save_model(best, 'best_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Number of times pregnant',
                                              'Plasma glucose concentration a 2 '
                                              'hours in an oral glucose '
                                              'tolerance test',
                                              'Diastolic blood pressure (mm Hg)',
                                              'Triceps skin fold thickness (mm)',
                                              '2-Hour serum insulin (mu U/ml)',
                                              'Body mass index (weight in '
                                              'kg/(height in m)^2)',
                                              'Diabetes pedigre...
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                 ('trained_model',
                  LogisticRegression(C=1.0, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 'best_model.pkl')

## To load the model back in environment

In [10]:
# functional API
loaded_model = load_model('best_model')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=/var/folders/ty/th__2_pn1js9hzn2y7l830wr0000gn/T/joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(exclude=None,
                                    include=['Number of times pregnant',
                                             'Plasma glucose concentration a 2 '
                                             'hours in an oral glucose '
                                             'tolerance test',
                                             'Diastolic blood pressure (mm Hg)',
                                             'Triceps skin fold thickness (mm)',
                                             '2-Hour serum insulin (mu U/ml)',
                                             'Body...
                 TransformerWrapper(exclude=None, include=None,
                                    transformer=CleanColumnNames(match='[\\]\\[\\,\\{\\}\\"\\:]+'))),
                ('trained_model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=1000,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=123,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)