In [2]:
from sqlalchemy import create_engine
import pandas as pd

# 建立連線引擎（root 無密碼的情況）
engine = create_engine("mysql+pymysql://root:@localhost/school")

# 用 pandas 讀取資料表
df = pd.read_sql("SELECT * FROM students", engine)
print(df)

   id name  age  class_id gender
0   1   小明   16     101.0      男
1   2   小美   15     102.0      女
2   3   小華   17     101.0      男
3   4   小綠   16     103.0      女
4   5   小藍   17       NaN      男