# Regression Promblem

## load sample dataset

In [4]:
from pycaret.datasets import get_data
data = get_data('insurance')

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Functional API（函式式寫法）

In [5]:
from pycaret.regression import *
s = setup(data, target = 'charges', session_id = 123)

### 📊 資料摘要
| 描述                        | 說明                           |
|-----------------------------|--------------------------------|
| Session id                 | 123（隨機種子，讓結果可重現） |
| Target                     | `charges`（要預測的欄位）      |
| Target type                | Regression（回歸任務）         |
| Original data shape        | (1338, 7) 原始資料共 7 欄       |
| Transformed data shape     | (1338, 10) 經 one-hot 編碼擴展為 10 欄 |
| Transformed train set      | (936, 10) 訓練集                |
| Transformed test set       | (402, 10) 測試集                |

---

### 🧮 特徵工程與預處理
| 描述                        | 說明                               |
|-----------------------------|------------------------------------|
| Numeric features           | 3 個數值欄位                        |
| Categorical features       | 3 個類別欄位                        |
| Preprocess                 | True，已進行預處理                  |
| Imputation type            | simple（簡單補值）                  |
| Numeric imputation         | mean（數值以平均數補值）           |
| Categorical imputation     | mode（類別以眾數補值）             |
| Maximum one-hot encoding   | 最大 one-hot 類別數為 25，超過會跳過 |
| Encoding method            | 預設自動選擇（None）               |

---

### 🧪 交叉驗證與資源
| 描述                        | 說明                     |
|-----------------------------|--------------------------|
| Fold Generator             | 使用 KFold 交叉驗證     |
| Fold Number                | 分成 10 折              |
| CPU Jobs                   | -1（使用所有 CPU 核心） |
| Use GPU                    | False，未使用 GPU        |

---

### 📦 其他設定
| 描述                        | 說明                          |
|-----------------------------|-------------------------------|
| Log Experiment             | False（未記錄至 MLflow）     |
| Experiment Name            | `reg-default-name`            |
| USI                        | `ace5`（唯一實驗識別碼）      |

## Compare Models

In [7]:
# functional API
best = compare_models()
print(best)

GradientBoostingRegressor(random_state=123)

最佳模型：Gradient Boosting Regressor (gbr)
根據你畫黃的欄位：

MAE = 2701.99（最低）

MSE = 23548981.36（最低）

RMSE = 4832.97（最低）

R² = 0.8320（最高）

RMSLE = 0.4447（最低之一）

MAPE = 0.3137（也是最低）

✅ 綜合指標來看，gbr 是最佳模型，泛化能力強、誤差小。

## Analyze Model

In [10]:
# functional API
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

| 視覺化選項                   | 說明                               |
| ----------------------- | -------------------------------- |
| `Pipeline Plot`         | 顯示整個前處理 + 模型的 pipeline 結構        |
| `Hyperparameters`       | 顯示目前模型的參數設定                      |
| `Residuals`             | 預測值與實際值的殘差圖                      |
| `Prediction Error`      | 預測值 vs 實際值的散佈圖（應接近 y=x）          |
| `Cooks Distance`        | 用來偵測影響力大的離群值（influential points） |
| `Feature Selection`     | 模型選用的特徵資訊                        |
| `Learning Curve`        | 訓練資料增加時的得分變化                     |
| `Manifold Learning`     | 非線性降維可視化（例如 t-SNE）               |
| `Validation Curve`      | 單一超參數值 vs 模型表現                   |
| `Feature Importance`    | 特徵重要性條形圖（某些模型支援）                 |
| `Decision Tree`         | 如果模型是樹類模型，顯示決策樹結構                |
| `Interactive Residuals` | 可互動的殘差分析圖（Hover 看數值）             |

## Predictions

In [11]:
# functional API
predict_model(best)

,age,sex,bmi,children,smoker,region,charges,prediction_label
650,49,female,42.680000,2,no,southeast,9800.888672,10681.513104
319,32,male,37.334999,1,no,northeast,4667.607422,8043.453463
314,27,female,31.400000,0,yes,southwest,34838.871094,36153.097686
150,35,male,24.129999,1,no,northwest,5125.215820,7435.516853
336,60,male,25.740000,0,no,southeast,12142.578125,14676.544334
...,...,...,...,...,...,...,...,...
1221,40,male,24.969999,2,no,southeast,6593.508301,9264.152793
973,19,female,40.500000,0,no,southwest,1759.338013,2604.919960
1250,24,male,29.830000,0,yes,northeast,18648.421875,18639.490954
887,36,female,30.020000,0,no,northwest,5272.175781,5117.185514
50,18,female,35.625000,0,no,northeast,2211.130859,3146.534024

In [12]:
# functional API
print(data.shape)  # Print the shape (rows, columns) of the dataset
predictions = predict_model(best, data=data) # Use the best trained model to make predictions on the full data
predictions.head()

(1338, 7)

,age,sex,bmi,children,smoker,region,charges,prediction_label
0,19,female,27.900000,0,yes,southwest,16884.923828,18464.334448
1,18,male,33.770000,1,no,southeast,1725.552246,4020.345384
2,28,male,33.000000,3,no,southeast,4449.461914,6555.388388
3,33,male,22.705000,0,no,northwest,21984.470703,9627.045725
4,32,male,28.879999,0,no,northwest,3866.855225,3325.531292

## Save the model

In [15]:
# functional API
save_model(best, 'best_model_regression')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['age', 'bmi', 'children'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['sex', 'smoker', 'region'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  TransformerWrapper(include=['sex', 'smoker'],
                                     transfor...
                                                                          'data_type': dtype('O'),
                                                                          'mapping': female    0
 male      1
 NaN      -1
 dtype: int64},
                                                                         {'col': 'smoker',
                                                                          'data_type': dtype('O'),
                                                                          'mapping': no     0
 yes    1
 NaN   -1
 dtype: int64}]))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['region'],
                                     transformer=OneHotEncoder(cols=['region'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('trained_model', GradientBoostingRegressor(random_state=123))]),
 'best_model_regression.pkl')

## To load the model back in environment

In [16]:
# functional API
loaded_model = load_model('best_model_regression')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=/var/folders/ty/th__2_pn1js9hzn2y7l830wr0000gn/T/joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['age', 'bmi', 'children'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=['sex', 'smoker', 'region'],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('ordinal_encodin...
                                                                         'data_type': dtype('O'),
                                                                         'mapping': female    0
male      1
NaN      -1
dtype: int64},
                                                                        {'col': 'smoker',
                                                                         'data_type': dtype('O'),
                                                                         'mapping': no     0
yes    1
NaN   -1
dtype: int64}]))),
                ('onehot_encoding',
                 TransformerWrapper(include=['region'],
                                    transformer=OneHotEncoder(cols=['region'],
                                                              handle_missing='return_nan',
                                                              use_cat_names=True))),
                ('trained_model', GradientBoostingRegressor(random_state=123))])